* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  color: #fff;
  display: flex;
  min-height: 100vh;
}
html {
  font-size: 62.5%;
}
.container {
  width: 1000px;
  margin: auto;
  display: flex;
  max-width: 97%;
}
.sedan,
.suv,
.luxury {
  background-color: #e28625;
  color: white;
}
.card {
  padding: 48px;
  flex: 1 1 33.3%;
}
img {
  width: 60px;
  margin-bottom: 35px;
}
.text-content h1 {
  font-size: 40px;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Big Shoulders Display", sans-serif;
}
.text-content p {
  margin-bottom: 83px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  opacity: 0.75;
  line-height: 25px;
}
.sedan {
  border-radius: 10px 0 0 10px;
}
.sedan button {
  color: #e28625;
}
.suv {
  background-color: #006971;
}
.suv button {
  color: #006971;
}
.luxury {
  background-color: #004140;
  border-radius: 0 10px 10px 0;
}
.luxury button {
  color: #004140;
}
a,
.btn {
  display: inline-block;
  background-color: #f2f2f2;
  text-decoration: none;
  border-radius: 30px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  padding: 10px 40px;
  border: 1px solid rgba(255, 255, 255, 0);
}
.btn-orange {
  color: #e28625;
}
.btn-orange:hover {
  background-color: #e28625;
  color: #f2f2f2;
  border-color: #fff;
  transition: all 0.3s ease-in-out;
}
.btn-blue {
  color: #006971;
}
.btn-blue:hover {
  background-color: #006971;
  color: #f2f2f2;
  border-color: #fff;
  transition: all 0.3s ease-in-out;
}
.btn-green {
  color: rgba(0, 65, 64, 1);
  transition: all 0.3s ease-in-out;
}
.btn-green:hover {
  background-color: #004140;
  color: #f2f2f2;
  border-color: #fff;
  transition: all 0.3s ease-in-out;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  body {
    padding: 20px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 55%;
    margin: auto;
  }
  .btn button {
    font-size: 15px;
    line-height: 25px;
    border-radius: 25px;
  }
  p {
    font-size: 15px;
    font-weight: 400;
  }
  .sedan {
    border-radius: 10px 10px 0 0;
  }
  .luxury {
    border-radius: 0 0 10px 10px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
  .heading {
    font-size: 36px;
  }
  p {
    font-size: 15px;
  }
  a {
    font-size: 14px;
  }
}
