body {
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(31, 77%, 52%);
  height: 62%;
  border-radius: 8px;
}

.sudansvg {
  margin-top: 48px;
  margin-left: 48px;
}

.sedans > h2 {
  margin-top: 60px;
  margin-left: 48px;
  color: #f2f2f2;
  font-family: Big Shoulders Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.sedans > p {
  color: #fff;
  margin-top: 60px;
  margin-left: 48px;
  width: 212px;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  opacity: 0.75;
  font-weight: 400;
  line-height: 25px;
}

/* BUTTONS */
a,
.btn {
  display: inline-block;
  background-color: #f2f2f2;
  text-decoration: none;
  border-radius: 30px;
  font-family: "Lexend Deca", sans-serif;
  margin: 42px;
  font-size: 15px;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.btn-orange {
  color: rgba(226, 134, 37, 1);
  transition: all 0.3s ease-in-out;
}

.btn-blue {
  color: rgba(0, 105, 113, 1);
  transition: all 0.3s ease-in-out;
  margin-top: 60px;
}

.btn-green {
  color: rgba(0, 65, 64, 1);
  transition: all 0.3s ease-in-out;
  margin-top: 60px;
}

/* BUTTONS HOVER */

.btn-orange:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
}

.btn-blue:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

.btn-green:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}

/* SUV CARD */
.suvs {
  background-color: rgba(0, 105, 113, 1);
  width: 307px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  margin-left: 47px;
}

.suv-svg {
  margin-top: 65px;
  margin-left: 48px;
}

.suvs > h2 {
  margin-top: 60px;
  margin-left: 48px;
  color: #f2f2f2;
  font-family: Big Shoulders Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.suvs > p {
  color: #fff;
  margin-top: 60px;
  margin-left: 48px;
  width: 260px;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  opacity: 0.75;
  font-weight: 400;
  line-height: 25px;
}

.suv-btn {
  width: 146px;
  height: 48px;
  border-radius: 25px;
  background: #f2f2f2;
  border-color: rgba(0, 105, 113, 1);
  color: #006971;
  margin: 48px;
  cursor: pointer;
}

/* LUXURY CARD */
.luxury {
  background-color: rgba(0, 65, 64, 1);
  width: 307px;
  height: 100%;
  border-radius: 0 8px 8px 0;
}

.lux-svg {
  margin-top: 60px;
  margin-left: 48px;
}

.luxury > h2 {
  margin-top: 60px;
  margin-left: 48px;
  color: #f2f2f2;
  font-family: Big Shoulders Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.luxury > p {
  color: #fff;
  margin-top: 60px;
  margin-left: 48px;
  width: 255px;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  opacity: 0.75;
  font-weight: 400;
  line-height: 25px;
}

.lux-btn {
  width: 146px;
  height: 48px;
  border-radius: 25px;
  background: #f2f2f2;
  border-color: rgba(0, 65, 64, 1);
  color: #004140;
  margin: 48px;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  section {
    display: flex;
    width: 375px;
    /* padding: 88px 24px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
  }
  .sedans {
    margin-top: 140%;
    width: 270px;
    margin-left: 10px;
    height: 442px;
    border-radius: 8px 8px 0 0;
    background: #e28625;
  }
  .sudansvg {
    width: 64px;
    height: 40px;
    margin-top: 44px;
    margin-left: 44px;
  }
  .sedans > h2 {
    color: #f2f2f2;
    font-family: Big Shoulders Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 28px;
  }
  .sedans > p {
    color: #fff;
    margin-top: 44px;
    margin-left: 44px;
    width: 212px;
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    opacity: 0.75;
    font-weight: 400;
    line-height: 25px;
  }
  a {
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }
  .btn button {
    font-size: 15px;
    line-height: 25px;
    border-radius: 25px;
    margin-bottom: 40px;
  }

  /* SUVS CARD */
  .suvs {
    background-color: rgba(0, 105, 113, 1);
    width: 270px;
    height: 442px;
    border-radius: 0 0 0 0;
    margin-left: 10px;
  }
  .suv-svg {
    margin-top: 44px;
    margin-left: 44px;
    width: 64px;
    height: 40px;
  }
  .suvs > h2 {
    margin-top: 28px;
    color: #f2f2f2;
    font-family: Big Shoulders Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .suvs > p {
    color: #fff;
    margin-top: 44px;
    margin-left: 44px;
    width: 212px;
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    opacity: 0.75;
    font-weight: 400;
    line-height: 25px;
  }
  .btn button {
    font-size: 15px;
    line-height: 25px;
    border-radius: 25px;
    margin-bottom: 40px;
  }
  /* LUXURY CARD */
  .lux-svg {
    width: 64px;
    height: 40px;
    margin-top: 44px;
    margin-left: 44px;
  }
  .luxury {
    background-color: rgba(0, 65, 64, 1);
    width: 270px;
    margin-left: 10px;
    height: 442px;
    border-radius: 0 0 8px 8px;
  }
  .luxury > h2 {
    color: #f2f2f2;
    font-family: Big Shoulders Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 28px;
  }
  .luxury > p {
    color: #fff;
    margin-top: 44px;
    margin-left: 44px;
    width: 212px;
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    opacity: 0.75;
    font-weight: 400;
    line-height: 25px;
  }
  .btn button {
    font-size: 15px;
    line-height: 25px;
    border-radius: 25px;
    margin-bottom: 40px;
  }
}
